@page "/entrepriseedit"
@using GestionDesStages.Shared.Models;
@attribute [Authorize(Policy = @GestionDesStages.Shared.Policies.Policies.EstEntreprise)]
@using Microsoft.AspNetCore.Authorization
<section>
    <AuthorizeView>
        <Authorized>
            <h3 style="background-color: black; color: white; padding: 5px 5px 5px 5px;" class="page-title">Détail des informations de votre profil | @context.User.Identity.Name</h3>
        </Authorized>
    </AuthorizeView>
    <p class="text-muted" style="font-style:italic">Prenez note que votre courriel et votre mot de passe peuvent être modifiés en cliquant en haut à droite.</p>
    <EditForm Model="@Entreprise" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label asp-for="Nom" class="col-sm-3">Votre nom :</label>
            <InputText id="Nom" class="form-control col-sm-8" @bind-Value="@Entreprise.Nom" placeholder="Entrer le nom de votre compagnie"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.Nom)" />
        </div>

        <div class="form-group row">
            <label asp-for="Adresse" class="col-sm-3">Votre Adresse :</label>
            <InputText id="Adresse" class="form-control col-sm-8" @bind-Value="@Entreprise.Adresse" placeholder="Entrer votre adresse"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.Adresse)" />
        </div>

        <div class="form-group row">
            <label asp-for="Prenom" class="col-sm-3">Votre prenom :</label>
            <InputText id="Prenom" class="form-control col-sm-8" @bind-Value="@Entreprise.PrenomResponsable" placeholder="Entrer votre prenom"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.PrenomResponsable)" />
        </div>

        <div class="form-group row">
            <label asp-for="Nom" class="col-sm-3">Votre nom :</label>
            <InputText id="Nom" class="form-control col-sm-8" @bind-Value="@Entreprise.NomResponsable" placeholder="Entrer votre nom"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.NomResponsable)" />
        </div>

        <div class="form-group row">
            <label asp-for="TelephoneCellulaire" class="col-sm-3">Numéro téléphonique de l'entreprise' :</label>
            <InputText id="TelephoneCellulaire" class="form-control col-sm-8" @bind-Value="@Entreprise.TelephoneCellulaire" placeholder="Entrer votre numéro de téléphone cellulaire"></InputText>
            <label class="offset-sm-3 col-sm-8 text-muted">Merci de saisir avec le format suivant : 9999999999)</label>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.TelephoneCellulaire)" />
        </div>

        <div class="form-group row">
            <label asp-for="posteTelephonique" class="col-sm-3">Votre numéro de poste telephonique :</label>
            <InputText id="posteTelephonique" class="form-control col-sm-8" @bind-Value="@Entreprise.PosteTelephonique" placeholder="Entrer votre numéro de poste telephonique"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Entreprise.PosteTelephonique)" />
        </div>

        <button type="submit" class="btn btn-primary edit-btn">Enregistrer les informations</button>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Annuler</a>
    </EditForm>

</section>